.outerFrame {
  margin: 0;
  padding: 0;
  background: #7a98ed;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* cursor: url('carrot.svg'), auto; */
}

.innerFrame {
  padding: 20px;
  height: auto;
  width: 80%;
  background: #DD517E;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  @media only screen and (max-width: 550px) {
    width:100%;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 0px 20px;
  width: 200px;
  height: 64px;
  background: #ffffff;
  border: 5px solid #556cc9;
  border-radius: 20px;
  font-size: 22px;
  font-family: monospace;
}

.grow { 
  transition: one .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.1); 
  }

  